@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* ... your other variables ... */

  /* ADD THIS LINE BELOW to map the color */
  --color-border: var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
}

/* ... keep your :root and .dark blocks as they are ... */

@layer base {
  * {
    /* Change 'border-border' to 'border-[var(--border)]'
       OR just use 'border' if you've mapped it in the theme above */
    border-color: var(--border);
    outline-color: var(--ring);
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}